resources/odd/liditest.odd

<?xml-model href="teipublisher_odds.xsd"?><TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en"><teiHeader><fileDesc>
            <titleStmt><title>LiDi Test</title></titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc><encodingDesc><tagsDecl/></encodingDesc><revisionDesc>
            <change when="2024-04-15+02:00">Initial version</change>
        </revisionDesc></teiHeader><text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="liditest" source="teipublisher.odd"> <elementSpec ident="persName" mode="add"><model predicate="ancestor::listPerson" behaviour="block"/><model output="web" predicate="ancestor::body" behaviour="alternate">
            <param name="default" value="."/>
            <param name="alternate" value="id (substring-after(@ref, '#'), doc(&#34;/db/apps/LiDi/data/people.xml&#34;))"/>
            <outputRendition xml:space="preserve" scope="before">
            content:"👤"
            </outputRendition>
            <outputRendition xml:space="preserve">
            color: lightcoral
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="placeName" mode="add"><model predicate="ancestor::body" behaviour="alternate">
            <param name="default" value="."/>
            <param name="alternate" value="id (substring-after(@ref, '#'), doc(&#34;/db/apps/LiDi/data/place.xml&#34;))"/>
            <outputRendition xml:space="preserve" scope="before">
            content:"🌍"
            </outputRendition>
            <outputRendition xml:space="preserve">
            color: olivedrab
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="rs" mode="add"><model output="web" predicate="@type=&#34;all_god&#34;" behaviour="inline">
            <outputRendition xml:space="preserve">
            color: goldenrod
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="bibl" mode="change"><model predicate="ancestor::body" behaviour="alternate">
            <param name="default" value="."/>
            <param name="alternate" value="id (substring-after(@source, '#'), doc(&#34;/db/apps/LiDi/data/bibl.xml&#34;))"/>
            <outputRendition xml:space="preserve">
            color:steelblue
            </outputRendition>
            <outputRendition xml:space="preserve" scope="before">
            content:"📖"
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="seg" mode="change"><model predicate="@xml:lang and @source" behaviour="figure">
            <param name="uri" value="@source"/>
            <pb:template xmlns="" xml:space="preserve"><a href="[[uri]]" target="_blank">[[content]]</a></pb:template>
        </model><model predicate="@xml:lang" behaviour="figure"/><model predicate="@source" behaviour="link">
            <param name="uri" value="@source"/>
            <param name="content" value="."/>
            <param name="target" value="&#34;_blank&#34;"/>
        </model><model behaviour="inline"/></elementSpec>
                <elementSpec ident="add" mode="change"><model behaviour="inline">
            <outputRendition xml:space="preserve" scope="before">
            content: "⟨";
            </outputRendition>
            <outputRendition xml:space="preserve" scope="after">
            content: "⟩";
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="unclear" mode="change"><model behaviour="inline">
            <outputRendition xml:space="preserve" scope="after">
            content: '†';
            </outputRendition>
            <outputRendition xml:space="preserve" scope="before">
            content: '†'
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="head" mode="change"><model behaviour="inline"/></elementSpec>
                <elementSpec ident="ab" mode="change"><model behaviour="inline"/><modelSequence>
            <model predicate="false" behaviour="webcomponent">
                <param name="name" value="'pb-facs-link'"/>
                <param name="coordinates" value="let $d := substring-after(@facs, '#'),  $f := id($d, root($parameters?root))/@points  return ('['||replace($f,' ',',')||']')"/>
                <param name="facs" value="let $d :=  replace(substring-after(@facs, '#'), '(facs_[0-9]+)([A-Za-z_0-9]+)', '$1'),  $f := id($d, root($parameters?root))/graphic[1]/@url return ``[`{$f}`/full/950,/0/default.jpg]``"/>
                <param name="emit" value="'transcription'"/>
            </model>
        </modelSequence></elementSpec>
                <elementSpec ident="body" mode="change"><modelSequence>
            <model behaviour="index">
                <param name="type" value="'toc'"/>
            </model>
            <model behaviour="block"/>
        </modelSequence></elementSpec>
                <elementSpec ident="fw" mode="change"><model predicate="@type=&#34;running-head&#34;" behaviour="block">
            <outputRendition xml:space="preserve">
            text-align: center;
            </outputRendition>
        </model><model predicate="@type=&#34;page-number&#34;" behaviour="block">
            <outputRendition xml:space="preserve">
            text-align: right;
            </outputRendition>
        </model><model predicate="ancestor::p or ancestor::ab" behaviour="inline"/><model behaviour="block"/></elementSpec>
                <elementSpec ident="pb" mode="change"><modelSequence>
            <model behaviour="webcomponent">
                <desc>@facs</desc>
                <param name="name" value="'pb-facs-link'"/>
                <param name="emit" value="'transcription'"/>
                <param name="facs" value="let $d := substring-after(@facs, '#'), $f := id($d, root($parameters?root))/graphic[1]/@url return ``[`{$f}`/full/950,/0/default.jpg]``"/>
            </model>
            <model behaviour="break" useSourceRendition="true">
                <param name="type" value="'page'"/>
                <param name="label" value="if(@n) then concat(@n,' ') else ''"/>
                <outputRendition xml:space="preserve">
                display: block; color: grey; text-align:left;
                </outputRendition>
                <outputRendition xml:space="preserve" scope="before">
                content: '[Page ';
                </outputRendition>
                <outputRendition xml:space="preserve" scope="after">
                content: ']';
                </outputRendition>
            </model>
        </modelSequence></elementSpec>
                <elementSpec ident="note" mode="change"><model predicate="@place=&#34;margin-right&#34; or @place=&#34;margin-left&#34;" behaviour="note">
            <param name="place" value="&#34;margin&#34;"/>
        </model></elementSpec>
                <elementSpec ident="person" mode="add"><model predicate="@sameAs" behaviour="link">
            <param name="content" value="persName"/>
            <param name="uri" value="@sameAs"/>
            <param name="target" value="&#34;_blank&#34;"/>
        </model><model behaviour="inline">
            <param name="content" value="persName"/>
        </model></elementSpec>
                <elementSpec ident="place" mode="add"><model predicate="@sameAs" behaviour="link">
            <param name="content" value="."/>
            <param name="uri" value="@sameAs"/>
            <param name="target" value="&#34;_blank&#34;"/>
        </model><model behaviour="inline">
            <param name="content" value="placeName"/>
        </model></elementSpec>
                <elementSpec ident="quote" mode="change"><model behaviour="alternate">
            <param name="default" value="."/>
            <param name="alternate" value="id (substring-after(@source, '#'), doc(&#34;/db/apps/LiDi/data/bibl.xml&#34;))"/>
            <outputRendition xml:space="preserve">
            font-style: italic
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="author" mode="change"><model predicate="$parameters?mode='commentary'" behaviour="block">
            <outputRendition xml:space="preserve" scope="before">
            content:'Autore: '
            </outputRendition>
        </model><model predicate="parent::bibl" behaviour="inline">
            <param name="content" value="id (substring-after(@ref, '#'), doc(&#34;/db/apps/LiDi/data/bibl.xml&#34;))"/>
        </model><model predicate="ancestor::teiHeader" behaviour="block"/></elementSpec>
                <elementSpec ident="title" mode="change"><model predicate="parent::bibl" behaviour="inline"/><modelSequence predicate="parent::titleStmt/parent::fileDesc">
            <model predicate="preceding-sibling::title" behaviour="text">
                <param name="content" value="' — '"/>
            </model>
            <model behaviour="inline"/>
        </modelSequence><modelSequence>
            <model behaviour="inline">
                <param name="content" value="id (substring-after(@ref, '#'), doc(&#34;/db/apps/LiDi/data/bibl.xml&#34;))"/>
            </model>
            <model behaviour="link">
                <param name="content" value="."/>
                <param name="uri" value="@sameAs"/>
            </model>
        </modelSequence><model predicate="$parameters?header='short'" behaviour="heading">
            <param name="level" value="5"/>
        </model><model predicate="not(@level) and parent::bibl" behaviour="inline"/><modelSequence predicate="@level='m' or not(@level)">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="ancestor::biblFull" behaviour="text">
                <param name="content" value="', '"/>
            </model>
        </modelSequence><modelSequence predicate="@level='s' or @level='j'">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="following-sibling::* and     (  ancestor::biblFull)" behaviour="text">
                <param name="content" value="', '"/>
            </model>
        </modelSequence><modelSequence predicate="@level='u' or @level='a'">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="following-sibling::* and     (    ancestor::biblFull)" behaviour="text">
                <param name="content" value="'. '"/>
            </model>
        </modelSequence><model behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="biblScope" mode="add"><model predicate="parent::bibl" behaviour="inline"/></elementSpec>
                <elementSpec ident="citedRange" mode="add"><model behaviour="inline"/></elementSpec>
                <elementSpec ident="ptr" mode="change"><model behaviour="link">
            <param name="uri" value="@target"/>
            <param name="content" value="&#34;🔗&#34;"/>
            <outputRendition xml:space="preserve">
            text-decoration: none; margin-left: 5px;
            </outputRendition>
        </model><model predicate="parent::notatedMusic" behaviour="pass-through">
            <desc>Load and display external MEI</desc>
            <param name="url" value="@target"/>
            <pb:template xmlns="" xml:space="preserve"><pb-mei url="[[url]]" player="player">
                              <pb-option name="appXPath" on="./rdg[contains(@label, 'original')]" off="">Original Clefs</pb-option>
                              </pb-mei></pb:template>
        </model></elementSpec>
                <elementSpec ident="target" mode="add"/>
                <elementSpec ident="graphic" mode="change"><model behaviour="inline">
            <param name="url" value="@url"/>
            <pb:template xmlns="" xml:space="preserve"><pb-facs-link facs="[[url]]" emit="transcription"/></pb:template>
        </model><model behaviour="graphic">
            <param name="url" value="@url"/>
            <param name="width" value="@width"/>
            <param name="height" value="@height"/>
            <param name="scale" value="@scale"/>
            <param name="title" value="desc"/>
        </model></elementSpec>
                <elementSpec ident="lb" mode="change"><model behaviour="break" useSourceRendition="true">
            <param name="type" value="'line'"/>
            <param name="label" value="@n"/>
        </model><model behaviour="webcomponent">
            <desc>highligth</desc>
            <param name="name" value="'pb-highlight'"/>
            <param name="key" value="@n"/>
            <param name="highlight-self" value="'highlight-self'"/>
        </model></elementSpec>
                <elementSpec ident="div" mode="change"><model predicate="@type='title_page'" behaviour="block">
            <outputRendition xml:space="preserve">
            border: 1px solid black; padding: 5px;
            </outputRendition>
        </model><model predicate="parent::body or parent::front or parent::back" behaviour="section"/><model behaviour="block"/></elementSpec>
            <elementSpec ident="fileDesc" mode="change"><model predicate="$parameters?mode='commentary'" behaviour="block"/><modelSequence predicate="$parameters?header='short'">
            <model behaviour="block" cssClass="header-short">
                <desc>Dati documento nella homepage</desc>
                <param name="content" value="titleStmt"/>
            </model>
            <model behaviour="block" cssClass="header-short">
                <param name="content" value="/seriesStmt/title | (/seriesStmt/biblScope[position()=1]/@unit | /seriesStmt/biblScope[position()=1]/@n)"/>
            </model>
            <model behaviour="block" cssClass="header-short">
                <param name="content" value="//msIdentifier/repository"/>
            </model>
            <model behaviour="block" cssClass="sample-description">
                <desc>Output abstract </desc>
                <param name="content" value="//note/ab"/>
            </model>
        </modelSequence><model behaviour="title">
            <param name="content" value="titleStmt"/>
        </model></elementSpec>
                <elementSpec ident="teiHeader" mode="change"><model output="latex" behaviour="metadata"/><model output="fo" behaviour="omit"/><model output="web" predicate="$parameters?header='short'" behaviour="block"/><model predicate="$parameters?mode='commentary'" behaviour="inline"/><model output="web" behaviour="metadata"/></elementSpec>
                <elementSpec ident="titleStmt" mode="change"><model predicate="$parameters?mode='commentary'" behaviour="block"/><model output="latex" behaviour="meta">
            <param name="content" value="."/>
        </model><model output="fo" behaviour="heading"/><model predicate="$parameters?mode='title'" behaviour="heading">
            <param name="content" value="title[not(@type)]"/>
            <param name="level" value="5"/>
        </model><modelSequence output="web" predicate="$parameters?header='short'">
            <model behaviour="link">
                <param name="content" value="title[1]"/>
                <param name="uri" value="$parameters?doc"/>
            </model>
            <model behaviour="block">
                <param name="content" value="subsequence(title, 2)"/>
            </model>
            <model behaviour="block">
                <param name="content" value="author"/>
            </model>
        </modelSequence><model output="web" behaviour="block"/></elementSpec>
                <elementSpec ident="sponsor" mode="add"><model behaviour="omit"/></elementSpec>
                <elementSpec ident="editionStmt" mode="add"><model predicate="$parameters?mode='commentary'" behaviour="block">
            <outputRendition xml:space="preserve" scope="before">
            content:'Edizione: '
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="respStmt" mode="add"><model behaviour="omit"/></elementSpec>
                <elementSpec ident="name" mode="add"/>
                <elementSpec ident="principal" mode="add"><model predicate="$parameters?mode='commentary'" behaviour="block">
            <outputRendition xml:space="preserve" scope="before">
            content:'Curatore: '
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="publicationStmt" mode="change"><model predicate="$parameters?mode='commentary'" behaviour="block"/><model output="web" behaviour="block">
            <param name="content" value="availability/licence"/>
        </model><model behaviour="omit"/></elementSpec>
                <elementSpec ident="funder" mode="add"><model behaviour="omit"/></elementSpec>
                <elementSpec ident="sourceDesc" mode="add"><model predicate="$parameters?mode='commentary'" behaviour="block"/></elementSpec>
                <elementSpec ident="msDesc" mode="add"><model predicate="$parameters?mode='commentary'" behaviour="block">
            <param name="settlement" value="msIdentifier/settlement"/>
            <param name="repository" value="msIdentifier/repository"/>
            <param name="msid" value="msIdentifier/idno"/>
            <param name="mscont" value="msContents/ab"/>
            <param name="desc" value="physDesc"/>
            <pb:template xmlns="" xml:space="preserve"><p>
  <span>[[settlement]]</span>,
  <span>[[repository]]</span>, 
  <span>[[msid]]</span></p>
<p><span>[[mscont]]</span>
</p>
<p><span>[[desc]]</span>
</p></pb:template>
        </model><model behaviour="inline"/></elementSpec>
                <elementSpec ident="physDesc" mode="add"><model predicate="$parameters?mode='commentary'" behaviour="block">
            <outputRendition xml:space="preserve" scope="before">
            content:'Descrizione fisica: '
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="seriesStmt" mode="add"><model predicate="$parameters?mode='commentary'" behaviour="block">
            <param name="title" value="title"/>
            <param name="vol" value="//biblScope[@unit='volume']/@n"/>
            <param name="book" value="//biblScope[@unit='book']/@n"/>
            <pb:template xmlns="" xml:space="preserve"><div><h4>Fonte</h4>
  <div>[[title]], [[vol]], [[book]]</div>
</div></pb:template>
        </model></elementSpec>
                <elementSpec ident="noteStmt" mode="add"/>
                <elementSpec ident="encodingDesc" mode="change"><model predicate="$parameters?header='short'" behaviour="omit"/><model predicate="$parameters?mode='commentary'" behaviour="block">
            <pb:template xmlns="" xml:space="preserve"><div><h4>Informazioni sul progetto</h4><div>[[content]]</div></div></pb:template>
        </model><model behaviour="inline"/></elementSpec>
                <elementSpec ident="ref" mode="change"><model predicate="$parameters?mode='commentary'" behaviour="link">
            <param name="content" value="@target"/>
            <param name="uri" value="@target"/>
        </model><model predicate="@target" behaviour="link">
            <param name="uri" value="@target"/>
            <param name="content" value="."/>
        </model><model predicate="not(node())" behaviour="link">
            <param name="content" value="@target"/>
            <param name="uri" value="@target"/>
        </model><model behaviour="inline"/></elementSpec>
                <elementSpec ident="editorialDecl" mode="add"><model predicate="$parameters?mode='commentary'" behaviour="block"/><model predicate="$parameters?header='short'" behaviour="omit"/></elementSpec>
                <elementSpec ident="projectDesc" mode="add"/>
                <elementSpec ident="toc" mode="add"/>
                <elementSpec ident="tei" mode="add"/>
                <elementSpec ident="TEI" mode="change"><model behaviour="document"/></elementSpec>
                <elementSpec ident="licence" mode="change"><model predicate="$parameters?mode='commentary'" behaviour="link">
            <param name="content" value="."/>
            <param name="uri" value="@target"/>
        </model><model behaviour="omit"/></elementSpec>
                <elementSpec ident="availability" mode="add"><model predicate="$parameters?mode='commentary'" behaviour="block">
            <pb:template xmlns="" xml:space="preserve"><p>Licenza(documento XML):[[content]]</p></pb:template>
        </model></elementSpec>
            <elementSpec ident="figure" mode="change"><model behaviour="figure">
            <param name="title" value="@figDesc"/>
        </model></elementSpec>
                <elementSpec ident="cb" mode="change"><model behaviour="omit">
            <param name="type" value="'column'"/>
            <param name="label" value="@n"/>
        </model></elementSpec>
                <elementSpec ident="figDesc" mode="change"><model behaviour="alternate">
            <param name="default" value="&#34;🖼️&#34;"/>
            <param name="alternate" value="."/>
        </model></elementSpec>
                <elementSpec ident="term" mode="add"><model behaviour="inline">
            <pb:template xmlns="" xml:space="preserve"><li>[[content]]</li></pb:template>
        </model></elementSpec>
            <elementSpec ident="classDecl" mode="add"><model predicate="$parameters?mode='commentary'" behaviour="block">
            <pb:template xmlns="" xml:space="preserve"><div><h4>Sistema di classificazione delle immagini</h4><div>[[content]]</div></div></pb:template>
        </model></elementSpec>
                <elementSpec ident="taxonomy" mode="add"/>
                <elementSpec ident="date" mode="change"><model predicate="$parameters?mode='commentary'" behaviour="block">
            <outputRendition xml:space="preserve" scope="before">
            content:'Data di pubblicazione: '
            </outputRendition>
        </model><model output="web" predicate="@when" behaviour="alternate">
            <param name="default" value="."/>
            <param name="alternate" value="@when"/>
        </model><model behaviour="inline"/></elementSpec>
                <elementSpec ident="msContents" mode="add"/>
            <elementSpec ident="hi" mode="change"><model behaviour="inline" useSourceRendition="true">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model></elementSpec></schemaSpec>
        </body>
    </text></TEI>